.ai-reply-button{margin-right: 8px!important;}
.T-I.J-J5-Ji.aoO.v7.T-I-atl.L3{background-color: #1a73e8;color: #fff;cursor: pointer;transition: background-color .2s;}
.T-I.J-J5-Ji.aoO.v7.T-I-atl.L3:hover{background-color: #185abc;}
.T-I.J-J5-Ji.aoO.v7.T-I-atl.L3:disabled{background-color: #ccc;cursor: not-allowed;}